<h2 mat-dialog-title>
  {{'ERROR.ERROR_TITLE' | translate}} ({{'ERROR.ERROR_CODE' | translate}}: {{errorData.code}})
</h2>
<mat-dialog-content>
  <div><p>{{errorData.userMessage | translate}}</p></div>
</mat-dialog-content>
<div class="button-container">
  <button *ngIf="errorData.skippable" mat-raised-button color="primary" [mat-dialog-close]="true">
    {{'ERROR.ERROR_DIALOG_OK' | translate}}
  </button>
</div>
