<div class="container">

  <ngx-loading [show]="!(details$ | async) || !(conversionRate$ | async)"></ngx-loading>

  <div class="conversion-container">
    <button class="back-button" mat-raised-button color="primary" (click)="resolveBackClick()">
      {{'COUNTRY_DETAILS.BACK_BUTTON' | translate}}
    </button>
    <mat-card class="conversion-card" *ngIf="(conversionRate$ | async) as conversionRate">
      <span>
        {{'COUNTRY_DETAILS.CONVERSION_RATE_LABEL' | translate}}
      </span>
      <span id="conversion-rate">
        <strong>{{conversionRate | number: '1.0-2'}}</strong>
      </span>
    </mat-card>
  </div>

  <mat-card class="details-form-card" *ngIf="(details$ | async) as details">
    <form class="details-form">
      <mat-form-field class="form-full-width" *ngFor="let detail of details">
        <input matInput [placeholder]="detail.key | camelToRegular"
               [value]="detail.value | formBeautifier:detail.key"
               readonly>
      </mat-form-field>
    </form>
  </mat-card>
</div>
