.details-form-card {
  margin-top: 1%;
}

.details-form {
  min-width: 10%;
  max-width: 100%;
  width: 100%;
}

.form-full-width {
  width: 100%;
}

.container {
  margin: 2% 5% 5% 5%;
}

.conversion-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

strong {
  font-weight: bold;
}
