<div class="container">
  <ngx-loading [show]="!(countriesList$ | async).length"></ngx-loading>
  <button id="refresh-button" mat-raised-button color="primary" (click)="resolveRefreshSelected()">
    {{'COUNTRIES_LIST.REFRESH_BUTTON' | translate}}
  </button>
  <app-countries-list *ngIf="(countriesList$ | async).length"
                      [countries]="(countriesList$ | async)"
                      [paginatorConfig]="appConfig.paginatorConfig"
                      (countrySelected)="resolveCountrySelected($event)"></app-countries-list>
</div>
