<div class="container mat-elevation-z8">

  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)"
             placeholder="{{'COUNTRIES_LIST.TABLE_FILTER' | translate}}">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="alpha3Code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'COUNTRIES_LIST.TABLE_CODE' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.alpha3Code}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'COUNTRIES_LIST.TABLE_NAME' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="capital">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>{{'COUNTRIES_LIST.TABLE_CAPITAL' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.capital}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>{{'COUNTRIES_LIST.TABLE_REGION' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.region}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="detail-button">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let country">
        <button mat-raised-button class="detail-button"
                (click)="detailsSelected(country.alpha3Code, $event)">
          {{'COUNTRIES_LIST.DETAILS_BUTTON' | translate}}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="detailsSelected(row.alpha3Code, $event)">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator>
  </mat-paginator>

</div>
