.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-top: 1%;
}

.header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-table {
  overflow: auto;
}

.detail-button {
  margin: 5px;
}

.mat-row:hover {
  background-color: #673ab7;
  cursor: pointer;
}

.mat-column-detail-button {
  display: flex;
  flex-grow: 0.8;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
