<mat-card *ngIf="(errorCode$ | async) as errorCode" class="container">
  <div class="error-header">
    <p>{{'ERROR.ERROR_TITLE' | translate}} ({{'ERROR.ERROR_CODE' | translate}}: {{errorCode}})</p>
  </div>
  <div class="error-details">
    <p>{{'ERROR.ERROR_' + errorCode | translate}}</p>
  </div>
</mat-card>
